<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="POSRetail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MBLFront.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <userSettings>
        <POSRetail.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value/>
            </setting>
            <setting name="KeyDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="key" serializeAs="String">
                <value/>
            </setting>
            <setting name="name" serializeAs="String">
                <value/>
            </setting>
        </POSRetail.Properties.Settings>
        <MBLFront.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value/>
            </setting>
            <setting name="KeyDate" serializeAs="String">
                <value/>
            </setting>
        </MBLFront.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
