<?xml version="1.0"?>
<configuration>
  <!--<system.windows.forms jitDebugging="true" />
  <runtime>
    
      <NetFx40_LegacySecurityPolicy enabled="true"/>
  </runtime>-->
	<!--<runtime>
    <gcAllowVeryLargeObjects enabled="true" />    
</runtime>-->
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="POSRestaurant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MBLFront.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <userSettings>
        <POSRestaurant.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value/>
            </setting>
            <setting name="KeyDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="key" serializeAs="String">
                <value/>
            </setting>
            <setting name="branchid" serializeAs="String">
                <value/>
            </setting>
            <setting name="usertype" serializeAs="String">
                <value/>
            </setting>
            <setting name="kdsmain" serializeAs="String">
                <value/>
            </setting>
            <setting name="kdsid" serializeAs="String">
                <value/>
            </setting>
            <setting name="MinDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="MaxDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="ordertype" serializeAs="String">
                <value/>
            </setting>
            <setting name="gstvariations" serializeAs="String">
                <value/>
            </setting>
            <setting name="view" serializeAs="String">
                <value/>
            </setting>
            <setting name="fontsize" serializeAs="String">
                <value/>
            </setting>
            <setting name="MainScreenLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="apiExecution" serializeAs="String">
                <value/>
            </setting>
            <setting name="BaseUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="keybaseurl" serializeAs="String">
                <value/>
            </setting>
            <setting name="formname" serializeAs="String">
                <value/>
            </setting>
        </POSRestaurant.Properties.Settings>
        <MBLFront.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value/>
            </setting>
        </MBLFront.Properties.Settings>
    </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
